body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
p,h1,li{
    font-family: 'Roboto', sans-serif;
}
a{
    color: white;
}
ul{
    margin-top:1%;
    margin-right: 5%;
}
li{
    list-style-type: none;
    color: white;
    margin-top: 1%;    
} 
h1{ 
    display: flex;
    justify-content: center;
    text-align: center;
}
h2{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-fond{
    position: absolute;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 30%;
    width: 70%;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.nav-link{
    color: white;
}
.intro{
    margin-top: 15%;
}
.centre{
    display: flex;
    text-align: center;
    margin-right: 25%;
    margin-left: 25%;
}
.map{
    display:flex;
    justify-content:center;
    width:100%;
}
.people{
    position: absolute;
    width: 13%;
    height: 10%;
    margin-left: 30%;
    margin-top: 10%;
}
.profit{
    position: absolute;
    width: 13%;
    height: 10%;
    margin-left: 41%;
    margin-top: 35%;
}
.environnement{
    position: absolute;
    width: 13%;
    height: 10%;
    margin-top: 16%;
    margin-left: 55%;
}
.map-img-main{
    width: 95%;
}
.btn-outline-dark{
    margin-left: 85%;
    margin-top: 20px;
}
.bouton-follow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mot{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.img-footer{
    width: 34%;
    height: auto;
    margin-left: 34%;
}
.sticky-md-top{
    
    display: flex;
    justify-content: space-between;
}
.fleche{
    margin-left: 47%;
}
.btn-info{
    margin-left: 15px;
    margin-right: 15px;
    color: #0C0B3C;
    width: 50px;
    height: 40px;
}